<form action=/listings/new>
    <input type=submit value="Add Listing">
</form>

<% @user_listings.each do |listing| %>
    <div>
        <%= listing.name %>
        <%= listing.description %>
        £:<%= listing.ppn %>
        Start Date: <%= listing.start_date %>
        End Date: <%= listing.end_date %>
    </div>
<% end %>