<h1> Makers BnB </h1>
<% if @user %>
    <div>
    Signed in as: <%= @user.username %>
    </div>
    <div>
        <form action=/session method=post>
            <input type=hidden name=_method value=DELETE>
            <input type=submit value="Log Out">
        </form>
        <form action=/listings method=get>
            <input type=submit value="Manage Listings">
        </form>
    </div>
<% else %>
    <div>
        <form action=users/new method=get>
            <input type=submit value="Sign Up">
        </form>
        <form action=session/new method=get>
            <input type=submit value="Log In">
        </form>
    </div>
<% end %>

<div>
    <table>
        <tr>
            <th> Name </th>
            <th> Description </th>
            <th> PPN </th>
            <th> Start Date </th>
            <th> End Date </th>
        </tr>
        <% @listings.each do |listing| %>
            </tr>
                <td> <%= listing.name %> </td>
                <td> <%= listing.description %> </td>
                <td> £:<%= listing.ppn %> </td>
                <td> <%= listing.start_date %> </td>
                <td> <%= listing.end_date %> </td>
                <td>
                <% if @user %>
                    <form action="/booking/<%= listing.id %>">
                        <input type=submit value="Book Now">
                    </form>
                <% else %>
                    <form action=session/new method=get>
                        <input type=submit value="Log In to Book">
                    </form>
                <% end %>
                </td>
            </tr>
        <% end %>
    </table>
</div>

<div>
    <% if @outgoing_requests == nil %>
            You Have No Outgoing Requests
    <% else %>
        <table>
            <% @outgoing_requests.each do |request| %>
                <tr>
                    <th> Name </th>
                    <th> Date </th>
                    <th> Status </th>
                </tr>
                </tr>
                    <td> <%= request.booking.listing.name %> </td>
                    <td> <%= request.booking.date.strftime('%Y-%m-%d') %> </td>
                    <td> 
                        <% if request.approved %>
                            <form>
                                <input type=submit value=Confirm>
                            </form>
                        <% else %>
                            Waiting for Approval
                        <% end %> 
                    </td>
                </tr>
            <% end %>
        </table>
    <% end %>
</div>