<h1> Makers BnB </h1>
<% if @user %>
    <div>
    Signed in as: <%= @user.username %>
    </div>
    <div>
        <form action=/session method=post>
            <input type=hidden name=_method value=DELETE>
            <input type=submit value="Log Out">
        </form>
        <form action=/listings method=get>
            <input type=submit value="Manage Listings">
        </form>
    </div>
<% else %>
    <div>
        <form action=users/new method=get>
            <input type=submit value="Sign Up">
        </form>
        <form action=session/new method=get>
            <input type=submit value="Log In">
        </form>
    </div>
<% end %>

<div>
    <table>
        <tr>
            <th> Name </th>
            <th> Description </th>
            <th> PPN </th>
            <th> Start Date </th>
            <th> End Date </th>
        </tr>
        <% @listings.each do |listing| %>
            </tr>
            <td> <%= listing.name %> </td>
                <td> <%= listing.description %> </td>
                <td> £:<%= listing.ppn %> </td>
                <td> <%= listing.start_date %> </td>
                <td> <%= listing.end_date %> </td>
            </tr>
        <% end %>
    </table>
</div>